name: Update Daohang Site

on: 
  release:
    types: [published]
  push:
    tags:
      - 'v*'
    branches: 
      - master
  workflow_dispatch:
    inputs:
      name:
        description: '手动触发'
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: master

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: "12.x"
        
    - name: Install HEXO CI
      run: |
        npm install hexo-cli -g

    - name: Catch
      uses: actions/cache@v2
      id: cache-dependencies
      with:
        path: node_modules
        key: ${{runner.OS}}-${{hashFiles('**/package-lock.json')}}

    - name: Install Dependencies
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: |
        npm install

    - name: Generate
      run: |
        rm -rf ./public
        rm -rf ./db.json
        rm -rf ./.deploy_git
        hexo clean
        hexo generate
        gulp
    
    - name: Deploy
      run: |
        cd ./public
        git init
        git config --global user.name "ccknbc"
        git config --global user.email '${{ secrets.GIT_EMAIL }}'
        git add -A
        git commit -m "Updated By Github Actions"
        git push --force --quiet "https://ccknbc:${{ secrets.GH_TOKEN }}@github.com/ccknbc/daohang.git" master:master
        git push --force --quiet "https://ccknbc:${{ secrets.GT_TOKEN }}@gitee.com/ccknbc/daohang.git" master:master
        git push --force --quiet "https://${{ secrets.CD_USER }}:${{ secrets.CD_TOKEN }}@e.coding.net/ccknbc/blog/daohang.git" master:master

    - name: Update Gitee Pages
      uses: yanglbme/gitee-pages-action@master
      with:
          gitee-username: ccknbc
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          gitee-repo: ccknbc/daohang